<!-- <div class="card xl:flex xl:justify-content-center">
    <p-orderList
        [value]="products"
        [listStyle]="{ 'max-height': '30rem' }"
        header="List of Products"
        [dragdrop]="true">
            <ng-template let-product pTemplate="item">

                <div *ngIf="product.id == '1001'">Ik the blank row here</div>

                <div class="flex flex-wrap p-2 align-items-center gap-3">

                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ product.name }} {{product.id}}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>
                                        {{ product.category }}
                                    </span>
                                </div>
                            </div>
                    <span class="font-bold text-900">
                        {{ '$' + product.price }}
                    </span>
                </div>
            </ng-template>
    </p-orderList>
</div> -->

<!--<p-multiSelect-->
<!--  showClear="false"-->
<!--  filter="false"-->
<!--  [options]="countries"-->
<!--  [(ngModel)]="selectedCountries"-->
<!--  placeholder="Select Countries"-->
<!--  optionLabel="name"-->
<!--&gt;-->
<!--  <ng-template pTemplate="header">-->
<!--    <div class="checkbox-all-text" style="position: absolute; left: 40px">-->
<!--      Show all-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template let-country pTemplate="item">-->
<!--    <div class="flex align-items-center gap-2">-->
<!--      <img-->
<!--        src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"-->
<!--        [class]="'flag flag-' + country.code.toLowerCase()"-->
<!--        style="width: 18px"-->
<!--      />-->
<!--      <div>{{ country.name }}</div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-multiSelect>-->

<!--<div *ngFor="let i of list" >-->
<!--  <h1>  group {{i}}</h1>-->

<!--    <div class="example-container">-->
<!--      <div-->
<!--        cdkDropList-->
<!--        #todo1="cdkDropList"-->
<!--        class="example-list"-->
<!--        id="present-list-{{ i }}"-->
<!--        [cdkDropListData]="todo"-->
<!--        (cdkDropListDropped)="drop($event)"-->
<!--        [cdkDropListConnectedTo]="['list1', done]"-->
<!--      >-->
<!--        @for (item of todo; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--        }-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="example-container">-->
<!--      <h4>Another absent {{i}}-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h4>-->
<!--      <div-->

<!--        cdkDropList-->
<!--        #done="cdkDropList"-->
<!--        [cdkDropListData]="todo"-->
<!--        class="example-list"-->
<!--        id="present-list-{{ i }}"-->
<!--        (cdkDropListDropped)="drop($event)"-->
<!--        [cdkDropListConnectedTo]="['list1', todo1]"-->
<!--      >-->
<!--        @for (item of todo; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--        }-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--<div cdkDropListGroup>-->
<!--  <div class="example-container" id="list1">-->
<!--    <h2>To do</h2>-->

<!--    <div-->
<!--      id="list1"-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="todo1"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)"-->
<!--      [cdkDropListConnectedTo]="['list2']"-->
<!--    >-->
<!--      @for (item of todo1; track item) {-->
<!--      <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container" id="list2">-->
<!--    <h2>Done</h2>-->

<!--    <div-->
<!--      id="list2"-->
<!--      cdkDropList-->
<!--      [cdkDropListData]="done1"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)"-->
<!--      [cdkDropListConnectedTo]="['list1']"-->
<!--    >-->
<!--      @for (item of done1; track item) {-->
<!--      <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div *ngFor="let itemObj of obj;index as i">-->
<!--  <p>Group</p>-->
<!--  <div cdkDropListGroup>-->
<!--    <div-->
<!--      class="lane lane-1"-->
<!--      cdkDropList-->
<!--      id="present-{{i}}"-->
<!--      [cdkDropListData]="itemObj['present']"-->
<!--      [cdkDropListConnectedTo]="conncet(i)"-->
<!--      (cdkDropListDropped)="drop($event)"-->
<!--    >-->
<!--      <div *ngFor="let item of itemObj['present']" class="task" cdkDrag>-->
<!--        <div class="flex align-items-center">-->
<!--          <span-->
<!--            class="display-content-center material-symbols-rounded notranslate"-->
<!--            cdkDragHandle-->
<!--          >-->
<!--            <i class="pi pi-cog" style="font-size: 2rem">-->
<!--              {{item.name }}</i-->
<!--            >-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <h3>absent</h3>-->
<!--    <div-->
<!--      class="lane lane-2"-->
<!--      cdkDropList-->
<!--      id="absent-{{i}}"-->
<!--      [cdkDropListData]="itemObj['absent']"-->
<!--      [cdkDropListConnectedTo]="conncet(i)"-->
<!--      (cdkDropListDropped)="drop($event)"-->
<!--    >-->
<!--      <div *ngFor="let item of itemObj['absent']" class="task" cdkDrag>-->
<!--        {{item.name}}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<p> Group 2</p>-->
<!--<div-->
<!--  class="lane lane-1"-->
<!--  cdkDropList-->
<!--  #todo1="cdkDropList"-->
<!--  [cdkDropListData]="inProgressList3"-->
<!--  [cdkDropListConnectedTo]="[inProgress2, todo, inProgress]"-->
<!--  (cdkDropListDropped)="drop($event)"-->
<!--&gt;-->
<!--  <div *ngFor="let item of inProgressList3" class="task" cdkDrag>{{item}}</div>-->
<!--</div>-->
<!--<h3>absent</h3>-->
<!--<div-->
<!--  class="lane lane-2"-->
<!--  cdkDropList-->
<!--  #inProgress2="cdkDropList"-->
<!--  [cdkDropListData]="inProgressList4"-->
<!--  [cdkDropListConnectedTo]="[todo1, todo, inProgress]"-->
<!--  (cdkDropListDropped)="drop($event)"-->
<!--&gt;-->
<!--  <div *ngFor="let item of inProgressList4" class="task" cdkDrag>-->
<!--    {{item}}-->
<!--  </div>-->
<!--</div>-->

<!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">-->
<!--  <div class="example-box" *ngFor="let movie of movies" cdkDrag>-->
<!--    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>-->
<!--    {{movie}}-->
<!--  </div>-->
<!--</div>-->
<div class="klass-1" tabindex="0">
  <app-component-1 />
</div>

<div class="klass-3">
  <h2>Component 3</h2>
  <app-component-3 />
</div>
<div>Hello</div>
<app-component-2 />
